{:source-paths ["src"]

 :nrepl {:port 8777}
 :dev-http {8280 "public"}

 :dependencies
 [[reagent "1.1.1"]
  [re-frame "1.2.0"]
  [re-frisk-remote "1.6.0"]
  [cider/cider-nrepl "0.28.5"]]

 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"

   :modules
   {:app {:init-fn app.core/init}}

   :dev
   {:compiler-options
    {:closure-defines
     {re-frame.trace.trace-enabled? true}}}}}}
