{:closure-defines
 {ui.config/REGION "US"
  ui.config/LANGUAGE "en"
  ui.config/API_URL "http://localhost:3000"
  ui.config/SECURE_COOKIE false
  ui.config/GOOGLE_MAPS_API_KEY "AIzaSyAVgq9NMzbNqubtOPSoPHpyEYYtxGJdbhs"}}
