{:source-paths ["src"]

 :nrepl {:port 8777}

 :dependencies
 [;; env
  [adzerk/env "0.4.0"]
  ;; ui
  [reagent "1.1.1"]
  [re-frame "1.2.0"]
  ;; tooling
  [com.teknql/shadow-cljs-tailwind-jit "1.0.0"]
  [day8.re-frame/tracing      "0.6.2"]
  [day8.re-frame/re-frame-10x "1.5.0"]
  [cider/cider-nrepl "0.28.5"]]

 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"

   :tailwind/output "public/css/main.css"
   :tailwind/config {:theme
                     {:font-family
                      {:sans ["Inter"
                              "ui-sans-serif"
                              "system-ui"
                              "-apple-system"
                              "BlinkMacSystemFont"
                              "Segoe UI"
                              "Roboto"
                              "Helvetica Neue"
                              "Arial"
                              "Noto Sans"
                              "sans-serif"]}}}

   :modules
   {:app {:init-fn app.core/init}}

   :devtools
   {:preloads [day8.re-frame-10x.preload]
    :http-root   "public/"
    :http-port   8000}


   :dev
   {:compiler-options
    {:closure-defines
     {re-frame.trace.trace-enabled? true
      day8.re-frame.tracing.trace-enabled? true}}
    :build-hooks
    [(teknql.tailwind/start-watch!)]}

   :release
   {:build-options
    {:ns-aliases
     {day8.re-frame.tracing day8.re-frame.tracing-stubs}}
    :build-hooks
    [(teknql.tailwind/compile-release!)]}}}}
