{:closure-defines
 {app.config/REGION "US"
  app.config/LANGUAGE "en"
  app.config/API_URL "http://localhost:3000"
  app.config/SECURE_COOKIE false
  app.config/GOOGLE_MAPS_API_KEY "AIzaSyAVgq9NMzbNqubtOPSoPHpyEYYtxGJdbhs"}}
