{:closure-defines
 {ui.config/STAGE #shadow/env "STAGE"
  ui.config/VERSION #shadow/env "VERSION"
  ui.config/API_URL #shadow/env "API_URL"
  ui.config/SECURE_COOKIE #shadow/env "SECURE_COOKIE"
  ui.config/RUM_MONITOR_ID #shadow/env "RUM_MONITOR_ID"
  ui.config/RUM_IDENTITY_POOL_ID #shadow/env "RUM_IDENTITY_POOL_ID"
  ui.config/RUM_GUEST_ROLE_ARN #shadow/env "RUM_GUEST_ROLE_ARN"
  ui.config/GOOGLE_MAPS_API_KEY #shadow/env "GOOGLE_MAPS_API_KEY"
  ui.config/STRIPE_PUBLIC_KEY #shadow/env "STRIPE_PUBLIC_KEY"}}
