{:closure-defines
 {ui.config/STAGE #shadow/env "STAGE"
  ui.config/VERSION #shadow/env "VERSION"
  ui.config/REGION #shadow/env "REGION"
  ui.config/LANGUAGE #shadow/env "LANGUAGE"
  ui.config/API_URL #shadow/env "API_URL"
  ui.config/SECURE_COOKIE #shadow/env "SECURE_COOKIE"
  ui.config/RUM_MONITOR_ID #shadow/env "RUM_MONITOR_ID"
  ui.config/GOOGLE_MAPS_API_KEY #shadow/env "GOOGLE_MAPS_API_KEY"}}
