{:source-paths ["src" "resources"]

 :nrepl {:port 8777}

 :dependencies
 [[reagent "1.1.1"]
  [re-frame "1.2.0"]
  [cljs-bean "1.8.0"]
  [funcool/promesa "9.0.489"]
  [day8.re-frame/tracing      "0.6.2"]
  [day8.re-frame/re-frame-10x "1.5.0"]
  [com.taoensso/tempura "1.3.0"]
  [com.teknql/shadow-cljs-tailwind-jit "1.0.0"]
  [cider/cider-nrepl "0.28.5"]]

 :builds {:api {:target :node-library
                :output-to "out/api.js"
                :exports {:handler api.core/handler}}

          :ui {:target     :browser
                :output-dir "public/js"
                :asset-path "/js"
                :module-hash-names true

                :tailwind/output "public/css/main.css"
                :tailwind/config {:theme
                                  {:font-family
                                   {:sans ["Inter"
                                           "ui-sans-serif"
                                           "system-ui"
                                           "-apple-system"
                                           "BlinkMacSystemFont"
                                           "Segoe UI"
                                           "Roboto"
                                           "Helvetica Neue"
                                           "Arial"
                                           "Noto Sans"
                                           "sans-serif"]}}}

                :build-hooks
                [(shadow.html/copy-file
                  "public/index.src.html"
                  "public/index.html")]

                :modules
                {:ui {:init-fn ui.core/init}}

                :devtools
                {:after-load ui.core/after-load
                 :preloads [day8.re-frame-10x.preload]
                 :http-root   "public/"
                 :http-port   8000}


                :dev
                {:compiler-options
                 {:closure-defines
                  {re-frame.trace.trace-enabled? true
                   day8.re-frame.tracing.trace-enabled? true}}
                 :build-hooks
                 [(teknql.tailwind/start-watch!)]}

                :release
                {:compiler-options
                 {:source-map true}
                 :build-options
                 {:ns-aliases
                  {day8.re-frame.tracing day8.re-frame.tracing-stubs}}
                 :build-hooks
                 [(teknql.tailwind/compile-release!)]}}}}
